<!DOCTYPE html>
<html lang="en">
 <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<style>
.w3-tangerine {
  font-family: 'Tangerine', serif;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  #overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}
#overlay div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}
  </style>
     <title>India State Wise Corona Virus Tracker</title>
<meta name="title" content="India State Wise Corona Virus Tracker">
<meta name="description" content="Get Corona virus Latest tracker based on country and get  corona virus india status tracker by state">
  <meta name="keywords" content="Corona virus tracker , corona virus india tracker, corona virus, corona virus india update,
  coronavirus, coronavirus italy,coronavirus US,coronavirus india,corona virus, corona virus italy,corona virus US,corona virus india">
  <meta name="author" content="Naveen Nani">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

     <div class="navbar-fixed">
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">PIXELGAIN</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
          <li><a href="/state_wise">India Tracker</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li><a href="/">Home</a></li>
          <li><a href="/state_wise">India Tracker</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
     <li><a href="/">Home</a></li>
          <li><a href="/state_wise">India Tracker</a></li>
  </ul>
 </div>
 <p></p>
 <p></p>
 <div class="container">
     <P></P>
</div>



 {% if errormessage %}<div class = "container">
     <div class="col s4">
      <div class="center">
          <i class="large material-icons" style="color: red">bug_report</i>

      <h4>No Valid Data Found !! Check your Search</h4>
    </div>
    </div>

{% else %}







      <div class="container">
     <div class="row">
         <div >
          <div class="col s2" align="right">


    <i class="medium material-icons">insert_chart</i>
          </div>
              <div class="col s10">

              <h5>INDIA COVID-19 STATE WISE TRACKER</h5>
          </div>
             </div>
     </div>
 </div>
<div class = "container">

    <div class="card blue-grey light">
        <div class="card-content white-text">
    <div class="row">


        <div class="col s3">
      <div align="center">
          <i class="medium material-icons" style="color: Blue">group</i>
          <p>Total Confirmed</p>
          <h6>{{ headerdata.total_cases }}</h6>
          <p></p>
    </div>
             </div>
        <div class="col s3">
      <div align="center">
          <i class="medium material-icons" style="color: red">flash_on</i>
          <p> Total Active</p>
          <h6>{{ headerdata.total_active }}</h6>
          <p></p>
    </div>
                  </div>

        <div class="col s3">
       <div align="center">
          <i class="medium material-icons" style="color: Orange">face</i>
          <p> Total Recovered</p>
           <h6>{{ headerdata.total_recovered }}</h6>
          <p></p>
    </div>
             </div>
        <div class="col s3">
       <div align="center">
          <i class="medium material-icons" style="color: black">location_disabled</i>
          <p> Total Deaths</p>
           <h6>{{ headerdata.total_deaths }}</h6>
          <p></p>
    </div>
                  </div>


    </div>
    </div>
    </div>

<div class="row">


    <div class="col s12">
      <table class="striped">
   <tr style= "font-size: 12px;">
       <th>STATE</th>
       <th>CONFIRMED CASES</th>
       <th>ACTIVE CASES</th>
       <th>RECOVERED CASES</th>
       <th>TOTAL DEATHS</th>
   </tr>
   {% for q in search %}
       <tr style= "font-size: 12px;">
           <!--<td ><a href='#' class="a-elem">{{q.state}}</a></td>-->
           <td >{{q.state}}</td>
           <td style=" text-align: center;">{{q.total_cases}}</td>
            <td style=" text-align: center;">{{q.total_active}}</td>
            <td style=" text-align: center;">{{q.total_recovered}}</td>
            <td style=" text-align: center;">{{q.total_deaths}}</td>
       </tr>
   {% endfor %}
</table>

    </div>


</div>

</div>

{% endif %}



</div>
 <div id="overlay">

</div>
 <p></p>

  <footer class="page-footer">

          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright @ PIXELGAIN.com

            </div>
          </div>
        </footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>

    $('.a-elem').click(function() {


      $.ajax
      ({

           url: "/ajax_calls/getstatedata",
           data: {field1:$(this).text() },
           success: function(response)
           {

           $.each(response, function(i, item)
           {
            $("#overlay").append('<p>' + item + '</p>');
            });
           }
     });
     el = document.getElementById("overlay");
	 el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
    });
</script>

</body>
</html>

